* {
  margin: 0;
  padding: 0;
}
body {
  background-color:black;
}
#container {
  display: flex;
  flex-direction: column;
  background-color: black;
}
#logo {
  height: 200px;
  background-image: url(logo.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
  margin: 0;
  background-color: black;
}
h1 {
  font-family: cursive;
  color: #d2b6f7;
  font-style: italic;
  align-items: center;
  text-align: center;
  margin-bottom: 20px;
  font-size: 1.5rem;
  margin-bottom: 50px;
}
h2 {
  font-family: cursive;
  color: #d2b6f7;
  align-items: center;
  margin-bottom: 20px;
  font-size: 1.2rem;
}
h3 {
  font-family: cursive;
  color: #d2b6f7;
  margin-bottom: 10px;
}
.stenarrökelser {
  display: flex;
  align-items: center;
  column-gap: 5px;
  flex-direction: column;
  margin: auto;
}
p {
  font-family: cursive;
  color: #d2b6f7;
  font-size: 0.8rem;
}
img {
  width: 200px;
  border: 10px;
  margin-top: 20px;
}
a {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #d2b6f7;
  font-family: cursive;
  font-size: 18px;
  font-weight: bold;
  background-color: #0e0c0e;
  margin-bottom: 20px;
}
.text-section {
  text-align: center;
}
footer {
  background-color: #0e0c0e;
  height: 90px;
  margin-top: 80px;
  text-align: center;
}
@media (min-width: 888px) {
  #logo {
    height: 200px;
  }
  .stenarrökelser {
    flex-direction: row;
  }
  img {
    width: 100%;
    max-width: 400px;
  }
  a:link {
    font-size: 30px;
    height: 50px;
  }
  .text-section {
    text-align: left;
    max-width: 500px;
  }
  p {
    font-size: 1rem;
  }
  h2 {
    margin-left: 60px;
  }
}
@media (min-width: 888px) {
  #logo {
    height: 500px;
  }
}
@media (min-width: 464px) {
  p {
    font-size: 1rem;
    margin-left: 60px;
    margin-right: 60px;
  }
}
